/* CUSTOM STYLES */

.body-background {
	background-color: #0d47a1;
}

.authentication-block {
	background-color: #ffffff;
	color: #000000;
}
.home-page-wrapper{
	padding-top: 15px;
}

.form-partition{
	border-left: 1px solid #e0e0e0;
}

#success-message{
	display:none;
}

.login-heading {
	padding-top: 2px;
	margin-bottom: 30px;

}

.forms {
	margin-bottom: 15px;
}

.login-block {
	border: 2ox solid;
	padding-right: 20px;
	color: #000000;
	float:left;
}
.signup-block {
	border: 2ox solid;
	padding-left: 20px;
	color: #000000;
	margin-right:20px;
	float:right;
}

@media only screen and (min-width : 992px) {
 	
 		.log-in-form div {
		margin: 30px;
		}

    }
	@media only screen and (min-width : 992px) {
 	
 		.sign-up-form div {
		margin: 30px;
		}

    }

.btn-login {
	margin-top: 15px;
}


.dashboard-container {
	padding: 20px;
	background-color: #ffffff;
}

.dashboard-heading {
	padding-top: 15px;
	padding-bottom: 25px;
}